.row {
  color: white;
  margin-left: 20px;
  margin-bottom: 10px;
}
.sliders {
  background-color: white;
  border-radius: 50%;
  color: black;
  position:absolute;
  left:36px;
  margin-top: 60px;
  bottom: auto;
  opacity: 10;
  cursor: pointer;
  z-index: 10;
}
.sliders1 {
  background-color: white;
  border-radius: 50%;
  color: black;
  position:absolute;
  right:36px;
  margin-top: 60px;
  bottom: auto;
  opacity: 10;
  cursor: pointer;
  z-index: 10;
}
.group {
  display: grid;
  nustify-content: space-evenly;
}
.sliders:hover {
  opacity: 100;
  visibility: visible;
}
.movie-pictures {
  width: 100%;
  object-fit: contain;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
  cursor: pointer;
}
.movie-player {
  background-color: black;
  overflow: hidden;
}
.movie-title {
  padding-left: 12px;
  font-size: 26px;
}
.slider-action {
  position: relative;
  z-index: 99;
  height: 100%;
  top: 0;
  bottom: 0;
  width: 50px;
  transition: 0.3 ease-in-out;
  svg {
    font-size: 2rem;
  }
  .none {
    display: none;
  }
  .left {
    left: 0;
  }
  .right {
    right: 0;
  }
}
.row-images {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 18px;
   width: 100%;
}
.row-images::-webkit-scrollbar {
  display: none;
}
.movie-pictures:hover {
  transform: scale(1.08);
  opacity: 1;
}
.movie-picture-large {
  max-height: 250px;
}
.movie-picture-large:hover {
  transform: scale(1.09);
}
.custom-modal {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 700px;
  height: 700px;
  overflow-y: hidden;
}
.wrapper {
  display: grid;
}
@media (max-width: 768px) {
  .movie-title {
    font-size:20px;
  }
  .movie-picture-large {
    max-height: 200px;
  }
}
